@import "parts/resets";
@import "parts/colors";
@import "parts/variables";

a {
  font-size: 0.8em;
  color: #2e2e2e;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.header {
  grid-area: header-area;
  height: 4em;
  padding: 5px;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: flex-end;

  div.toolbar-wrapper {
    height: 100%;
    display: flex;
    padding-right: 18px;
    flex: {
      direction: row-reverse;
    }

    @mixin item() {
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.profile-img {
      @include item();

      img {
        width: 2em;
        height: 2em;
        object-fit: cover;
        border-radius: 100%;
      }
    }

    div.menu {
      @include item();
      opacity: 0.8;

      img {
        width: 1em;
        height: 1em;
        opacity: 0.7;
      }
    }

    div.link {
      @include item();

      a {
        color: black;
      }
    }

  }

}

.main {
  height: 80vh;
  padding: 5px;
  min-height: 400px;
  grid-area: main-area;
  align-self: center;
  display: flex;
  flex-direction: column;

  img.google-img {
    margin-top: 8em;
    object-fit: contain;
  }

  div.search-bar-wrapper {
    width: 37em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.8em;
    margin-top: 1.8em;
    border-radius: 30px;
    border: 1px solid #dfe1e5;

    &:hover {
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
      border: none rgba(223, 225, 229, 0);
    }

    svg.search-icon {
      width: 1.3em;
      height: 1.3em;
      opacity: 0.3;
    }

    input.search-bar {
      font-size: 16px;
      border: 0;
      width: 32.2em;
      height: 2.7em;
      padding: 0 1em;

      &:hover, &:focus {
        outline: none;
      }

    }

    img.mic-icon {
      width: 1.5em;
      height: 1.5em;
      cursor: pointer;
    }
  }

  .button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.7em;

    .btn {
      font-size: 0.9em;
      background-color: #f2f2f2;
      border: 1px solid #f2f2f2;
      border-radius: 4px;
      color: #5F6368;
      padding: 0.7em 1.4em;
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
        background-color: #f8f8f8;
        border: 1px solid #c6c6c6;
        color: #222;
      }

    }

  }

}

.footer {
  grid-area: footer-area;
  position: fixed;
  height: 2.7em;
  padding: 0 0.8em;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f2f2f2;
  min-width: 980px;
  border-top: 1px solid #e4e4e4;

  div.left-section {
    display: flex;
  }

  div.right-section {
    display: flex;
  }

  div.item{
    margin-left: 0.8em;
    margin-right: 0.8em;
    a{
      color: #5f6368;
    }
  }

}

.grid-container {
  display: flex;
  flex-direction: column;
  grid-template-areas: "header-area" "main-area" "footer-area";
}

